* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.profile h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile h2 {
  text-align: center;
  color: #333;
}

.container {
  margin-bottom: 30px;
  color: #333;
}

.container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.profile .form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.profile .form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.profile .activityItem.rewards {
  grid-template-columns: 1fr 1fr 1fr;
  color: #333;
}

.form-group input:focus {
  outline: none;
  border-color: #0066cc;
}

.form-group .select-role {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-group .select-role.transaction-select {
  text-align: center;
}

.transaction-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  color: #555;
  row-gap: 10px;
}

.profile .transaction-grid input.input-field {
  padding: 2px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid gray;
  margin: 0;
}

.profile .transaction-grid .input-description::placeholder {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* .transaction-grid button {
  margin-top: 10px;
  border: 0;
} */

.transaction-grid button.confirm-button {
  background-color: green;
  border: green;
  grid-column-start: 2;
  color: white;
  border: 0;
}

.transaction-grid button.confirm-button:hover {
  background-color: rgb(1, 101, 1);
  grid-column-start: 2;
  color: white;
  border: 0;
}

.transaction-grid .transactionHeader {
  font-weight: bold;
}

div.button-group {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  border-bottom: 0;
  padding: 0.5rem;
}

.transaction-grid > div {
  border-bottom: 1px solid gray;
  text-align: left;
}

.profile button {
  background-color: #0066cc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile button:hover {
  background-color: #004d99;
}

.profile button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.message {
  font-size: 16px;
  color: #ccc;
  margin-top: 20px;
  text-align: center;
}

p.loading {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #0066cc;
}

@media (max-width: 600px) {
  .profile {
    padding: 15px;
    margin: 10px;
  }

  input {
    padding: 8px;
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  .container p,
  .form-group label,
  .form-group input {
    font-size: 14px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .container,
  .form-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  input {
    font-size: 12px;
  }

  button {
    font-size: 14px;
  }
}
